body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12pt; background:#eeeeee;}
h1 { font-size: 16pt; }
h2 { font-size: 13pt; }

.playByPlay {
	width:500;
	border:1px solid #ccc;
	background:white;
	border-radius:10px;
}

.playByPlay .plays {
	width:100%;
	height:175;
	overflow-y: auto;
	border-bottom: 0px;
}
.playByPlay .plays::-webkit-scrollbar { 
    display: none; 
}

.playByPlay .plays .play {
	width: 100%;
	padding: 0 10px;
	font-size: 8pt;
	float:left;
}

.playByPlay .plays .play .segment {
	font-size: 7pt;
	float:left;
	line-height:19px;
	border-bottom: 1px solid #efefef;
}


.playByPlay .plays .play .segment.active-segment {
	background-color: #bebeee;
}

.playByPlay .plays .play .segment .playId, .playByPlay .plays .play .segment .segmentId {
	float:left;
	width:15px;
	font-size:66%;
	color:#999;
}

.playByPlay .plays .play .segment .text {
	float:left;
	width: 470px;
}




.playByPlay .controls {
	width: 100%;
	height: 30;
	line-height:30px;
	font-size: 8pt;
	box-shadow: 0px -5px 15px #cdcdcd;
	border-top: 1px solid #ccc
}

.playByPlay .controls .summary {
	float:left; 
	margin-left:20px;

}

.controls .prev { margin-left:220px; }
.controls .pause { margin-left: 20px; }
.controls .play { margin-left:20px; }
.controls .next { margin-left:20px; }


.currentSegment {
	width:500px;
	margin-top:15px;
}

.onIce {
	width:150px;
	margin:15px 10px 0px 10px;
	float:left;
	background:white;
	border-radius:10px;
	border:1px solid #ccc;
	height:200px;
	font-size:8pt;
}
.onIce p {
	margin: 8 15px;
}

.onIce .player {
	border:1px solid #ddd;
	height:22px;
	line-height:22px;
	text-align: center;
	margin: 3px 8px;
}

.onIce .player.possession {
	background: #aaaadd;
}

.ice {
	/* Rink is 200ft x 85 feet w/ 28 foot corner radius */
	width:170px;
	height:400px;
	margin: 20px 25px;
	float:right;
	border-radius:56px;
	border:1px solid #888;
	background-image: url(../img/rink.jpg);
	background-position: -7px -6px;
	background-size: 183px auto;
	position: relative;
}

.ice .zone {
	opacity:0.6;
}

.ice .zone.awayZone {
	/* blue line is 75 feet from end */
	border-radius: 56px 56px 0 0;
	height:150px;
}
.ice .zone.neutralZone {
	/* 50 feet between blue lines */
	height:100px;
}
.ice .zone.homeZone {
	border-radius:0 0 56px 56px;
	height:150px;
}

.ice .zone.active {
	background-color: #ddddff;
}

.ice .player {
	width:20px;
	height:20px;
	border-radius:10px;
	text-align:center;
	font-size:8pt;
	line-height:20px;
	border:1px solid black;
	overflow:hidden;
	position: absolute;
	cursor: default;
}

.ice .player[team="awayTeam"] {
	/* Jets colors */
	background-color:#041E41;
	color: #FFFFFF;
}

.ice .player[team="homeTeam"] {
	/* Flames colors */
	background:#CE1126;
	color:#F3BC52;
}

/* default player positions */
.ice .player[team="awayTeam"][position="G"] {
	top:20px;
	left:73px;	
}
.ice .player[team="awayTeam"][position="C"] {
	top:175px;
	left:75px;
}
.ice .player[team="awayTeam"][position="LW"] {
	top: 155px;
	left: 15px;
}
.ice .player[team="awayTeam"][position="RW"] {
	top: 155px;
	left: 135px;
}
.ice .player[team="awayTeam"][position="LD"] {
	top: 85px;
	left:45px;
}
.ice .player[team="awayTeam"][position="RD"] {
	top:85px;
	left:110px;
}


.ice .player[team="homeTeam"][position="G"] {
	top:375px;
	left:77px;
}
.ice .player[team="homeTeam"][position="C"] {
	top:215px;
	left:77px;
}
.ice .player[team="homeTeam"][position="LW"] {
	top: 245px;
	left: 135px;
}
.ice .player[team="homeTeam"][position="RW"] {
	top: 245px;
	left: 15px;
}
.ice .player[team="homeTeam"][position="LD"] {
	top:315px;
	left:110px;
}
.ice .player[team="homeTeam"][position="RD"] {
	top:315px;
	left:45px;
}

.lastSegmentText {
	width:500;
	height:54px;
	margin: 15px 0;
	background: white;
	overflow-y: auto;
	font-size:10pt;
	border-radius:10px;
	border:1px solid #ccc;
	line-height:18px;
}
.lastSegmentText p {
	margin: 3px 15px;
	line-height:21px;
}
