body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12pt; background:#eeeeee;}
h1 { font-size: 16pt; }
h2 { font-size: 13pt; }

.playByPlay {
	width:500;
	border:1px solid #ccc;
	background:white;
	border-radius:10px;
}

.playByPlay .plays {
	width:100%;
	height:300;
	overflow-y: auto;
/*	padding:5px 55px 5px 10px;*/
	border-bottom: 0px;
}
.playByPlay .plays::-webkit-scrollbar { 
    display: none; 
}

.playByPlay .plays .play {
	width: 100%;
	padding: 0 10px;
	font-size: 8pt;
	border-bottom: 1px solid #efefef;
}

.playByPlay .plays .play .segment {
	font-size: 7pt;
}

.playByPlay .plays .play .segment.active-segment {
	background-color: #bebeee;
}

.playByPlay .controls {
	width: 100%;
	height: 30;
	line-height:30px;
	font-size: 8pt;
	box-shadow: 0px -5px 15px #cdcdcd;
	border-top: 1px solid #ccc
}

.playByPlay .controls .summary {
	float:left; 
	margin-left:20px;

}

.controls .prev { margin-left:220px; }
.controls .pause { margin-left: 20px; }
.controls .play { margin-left:20px; }
.controls .next { margin-left:20px; }


.currentSegment {
	width:500px;
	margin-top:15px;
}

.onIce {
	width:150px;
	margin:15px 10px 0px 10px;
	float:left;
	background:white;
	border-radius:10px;
	border:1px solid #ccc;
	height:200px;
	font-size:8pt;
}
.onIce p {
	margin: 8 15px;
}

.onIce .player {
	border:1px solid #ddd;
	height:22px;
	line-height:22px;
	text-align: center;
	margin: 3px 8px;
}

.onIce .player.possession {
	background: #aaaadd;
}

.ice {
	/* Rink is 200ft x 85 feet w/ 28 foot corner radius */
	width:102px;
	height:240px;
	margin: 0 25px;
	float:left;
	border-radius:34px;
	border:1px solid #888;
	background-color: #fafaff;
}
.ice .zone.awayZone {
	/* blue line is 75 feet from end */
	border-radius: 34px 34px 0 0;
	height:90px;
	border-bottom:1px solid #8888ee;
}
.ice .zone.neutralZone {
	/* 50 feet between blue lines */
	height:60px;
}
.ice .zone.homeZone {
	border-radius:0 0 34px 34px;
	height:90px;
	border-top:1px solid #8888ee;
}

.ice .zone.active {
	background-color: #ddddff;
}

.lastSegmentText {
	width:500;
	height:54px;
	margin: 15px 0;
	background: white;
	overflow-y: auto;
	font-size:10pt;
	border-radius:10px;
	border:1px solid #ccc;
	line-height:18px;
}
.lastSegmentText p {
	margin: 3px 15px;
	line-height:21px;
}
